body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("../img/fundo.png");
    background-size: cover;        /* faz a imagem cobrir toda a tela */
    background-position: center;   /* centraliza a imagem */
    background-repeat: no-repeat;  /* evita repetir a imagem */
    background-attachment: fixed;  /* deixa o fundo fixo */
}

header{
width:100%;
padding:20px 0;
background:#180022;
}

.container{
width:90%;
margin:auto;
}

.header-content{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
height:100px;
}

nav a{
margin-left:20px;
text-decoration:none;
color:white;
font-weight:500;
}

.hero{
height:20vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(135deg,#2b0040,#6a00a3);
text-align:center;
color:white;
}

h1{
    text-align:center;
}

button{
    cursor:pointer;
}

.produtos{

padding:60px 20%;

}


.grid-produtos{

display:grid;

grid-template-columns:repeat(auto-fit, minmax(250px,1fr));

gap:40px;

}


.produto{

background:rgba(255,255,255,0.9);

padding:20px;

border-radius:10px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,0.3);

transition:0.3s;

}


.produto:hover{

transform:translateY(-8px);

}


.produto img{

width:50%;

border-radius:8px;

}


.preco{

font-size:20px;

font-weight:bold;

margin:10px 0;

}


.produto button{

background:#4b0082;

color:white;

border:none;

padding:10px 20px;

border-radius:6px;

}

footer{
margin-top:60px;
text-align:center;
padding:20px;
background:#120018;
}

footer p {
  color:#ccc;
  margin: 0;
}

.creditos{
font-size:14px;
text-align:center;
margin-top:15px;
color:#ccc;
}

.creditos a{
color:#fff;
text-decoration:none;
font-weight:bold;
}

.creditos a:hover{
text-decoration:underline;
}